<html>
<head>
<meta name="google-site-verification" content="IIp4kfUCXt-rw1sxw5IoGUdeKOjUIwAY7VqsY4nHUUU" />
<h1>Welcome to Plutus</h1>
<p>This will be the main landing page.</p>
<title> My title </title>
</head>
<body>
Here will be the contents.
</body>
</html>
<br>
<br>
<%= link_to 'Back', places_path %>
